.frame {
  background-color: #eee;
  border: 2px solid #666666;
  font-family: verdana, helvetica;
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  position: absolute;
}

.block {
  background-color: #fff;
  border: 1px solid #666666;
  border-left: solid 2px #666666;
  border-right: solid 2px #666666;
  position: absolute;
}

.fill {
  overflow: hidden;
  text-align: center;
  font-family: verdana, helvetica;
  font-size: 11px;
  font-weight: normal;
  position: absolute;
  padding: 5px;
}