

.button-container input[type="submit"] {
    padding: 8px 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.button-container input[type="submit"]:hover {
    background-color: #0056b3;
}
.container {

    max-width: 800px;
    width: 60%;
    height: 50%;
    margin: 100px auto;
    text-align: justify;
    background-color: white;
    padding: 80px;
    border-radius: 20px;

}

h1 {
    text-align: center;
}
.container.text {
  overflow-wrap: break-word; /* Automatyczne zawijanie słów na końcu linii */
}
h2{
    text-align: center;
    font-size: 40px;
    color: #1F1F1F;
}

.mainDiv{
    
    margin: 100px auto;
    
}

.confirmation-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}