.uploaded-files{
    margin-left:10px;
    margin-right:15px;
    width:200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.uploaded-files-containter{
    margin-top:10px;
    margin-bottom:10px;
    width: 140px;
    height: 200px;
    overflow: hidden;
    background-color: white;
    border: #E66A50 1px solid;
    border-radius: 20px;
    display:flex;
    padding:10px;
}

.uploaded-files-list {
    padding: 10px;
    overflow-y: scroll;
    height: auto;
    width: 100%;
}

.uploaded-file{
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #E66A50;
    border-radius: 5px;
    width: fit-content;
    word-wrap: break-word;
}

.side-menu-trigger {

}

.side-menu {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    height: 120%;
    width: 400px;
    overflow-y: auto;
    top: 64px;
    right: -400px;
    padding: 0;
    background: #A14A38;
    transition: 0.3s transform ease-in-out;
}

.side-menu ul {
    position: absolute;
    display: flex;
    height: calc(100% - 20px);
    flex-wrap: wrap;
    margin: 0 10px;
    padding: 0;
    list-style-type: none;
    align-content: flex-start
}

.side-menu ul li {
    display: flex;
    flex-direction: column; /* Updated to column layout */
    padding: 5px;
    background: #A14A38;
    flex-basis: 100%;
    margin-top: 20px;
    color: black;
    border-radius: 5px;
    overflow: hidden;
}

.side-menu ul li a {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #E66A50;
    text-decoration: none;
    box-sizing: border-box;
}

.side-menu ul li notif {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #E66A50;
    color: white;
    box-sizing: border-box;
}

/* Add styles for the button */
.side-menu ul li button {
    padding: 10px;
    background: #E66A50;
    align-items: center;
    color: white;
    border: none;
    cursor: pointer;
}

.side-menu ul li .text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side-menu ul li .button-container {
    display: flex;
    width: 100%;
    margin-top: 10px; /* Add margin to separate button from text */
}

.side-menu-trigger:focus ~ .side-menu, .side-menu:hover {
    transform: translateX(-400px);
}

.confirmation-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}