
h1 {
    text-align: center;
    font-size: 40px;
    color: #1F1F1F;
    margin-bottom: 70px;
}

h2 {
    text-align: center;
    font-size: 20px;
    color: #1F1F1F;
    margin: 0;
}

h3 {
    text-align: center;
    font-size: 20px;
    color: #E66A50;
    margin:0px;
    display:block;
    flex-basis: 100%;
}

.top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.content {
    width: 55%;
    margin: 100px auto;
    text-align: center;
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 200px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.title-basicInfo-pic-files{
    display:block;
    flex-basis: 100%;
}

.under_title{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap:30px;
    margin: 30px;
    flex-wrap: wrap;
}
.basicInfo{
    width: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap:10px;
}
.image-container {
    display: block;
    width: 260px;
    height: 260px;
    text-align: center;
    background-color: white;
    color: #E66A50;
    border: #E66A50 1px solid;
    border-radius: 10px;
    display:flex;
}

.profile-pic-img {
    height:inherit;
    width:inherit;
    border:inherit;
    border-radius: inherit;
}

.editButton {
    width:100px;
    display:flex;
    justify-content: center;
    margin: 10px;

    a {
        background-color: #E66A50;
        width:100%;
        color: white;
        border: #E66A50 1px solid;
        border-radius: 5px;
        font-size: 20px;
        padding: 10px 15px;
        text-decoration: none;
        transition: background-color 0.3s;

        &:hover {
            width:100%;
            border: #E66A50 1px solid;
            border-radius: 5px;
            background-color: white;
            color: #E66A50;
        }
    }
}

.description-and-ratings{
    width:80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap:20px;
}

.description-container {
    margin: 30px;
    max-width: 750px;
    width:90%;
    height: fit-content;
    background-color: white;
    color: #1f1f1f;
    border: #E66A50 1px solid;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.ratings-container {
    max-width: 750px;
    width:90%;
    margin: 30px;
    overflow: hidden;
    background-color: white;
    border: #E66A50 1px solid;
    border-radius: 20px;
    display:flex;
    padding:20px;
}

.ratings-list {
    padding: 10px;
    overflow-y: auto;
    height: 250px;
    width: 100%;
}

.rating {
    width:fit-content;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #E66A50;
    border-radius: 5px;
    display:flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap:2px;
}

.rating-stars-img{
    width:auto;
    height: 20px;
}

.container {
    display: block;
    margin-bottom: 10px;
}

.container p {
    display: inline-block;
    margin-right: 10px;
}

.ratingStar {
    width: 250px;
    height: 40px; 
}