
.side-menu {
    display: flex;
    box-sizing: border-box;
    height: 120%;
    width: 400px;
    overflow-y: auto;
    top: 64px;
    right: -400px;
    padding: 0;
    background: #A14A38;
    transition: 0.3s transform ease-in-out;
    
    position: absolute;
    transform: translateX(-300px);
    opacity: 0;
    transition: 0.5s all ease;
    
}

.side-menu.active{
    transform: translateY(0);
    opacity: 1;
}



.side-menu ul {
    position: absolute;
    display: flex;
    height: calc(100% - 20px);
    flex-wrap: wrap;
    margin: 0 10px;
    padding: 0;
    list-style-type: none;
    align-content: flex-start
}

.side-menu ul li {
    display: flex;
    padding: 5px;
    background: #A14A38;
    flex-basis: 100%;
    margin-top: 20px;
    color: black;
    border-radius: 5px;
    overflow: hidden;

}

.side-menu ul li a {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #E66A50;
    text-decoration: none;
    box-sizing: border-box;
}

.side-menu ul li notif {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #E66A50;
    color: white;
    box-sizing: border-box;
    font-family: 'Lato', cursive;
}

.side-menu-trigger:focus ~ .side-menu, .side-menu:hover {
    transform: translateX(-400px);
}