

.mainDiv{
    padding-bottom: 100px;

}

.container {
    max-width: 500px;
    width: 60%;
    max-height: 700px;
    text-align: justify;
    background-color: white;
    padding: 80px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}

.loginLink{
    margin: 5px;
    font-size: 16px;
    position: relative;
    text-decoration: none;
    font-weight: 100;
    color: grey;

}

h1 {
    color: #1F1F1F;
    text-align: center;
}

h2{
    width: 100%;
    text-align: center;
    font-size: 40px;
}


.button-styling:hover{
    background-color: white;
    color: #E66A50;
    border-radius: 3px;
    cursor: pointer;
}
.radioDiv{
    width: 100%;
    margin-bottom: 40px;
    display:inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}
.radioDiv > *  {
    display: flex;
    flex-basis: 40%;
    padding: 5px;
}

.inputsDiv{
    color: gray;
    width: 100%;
    margin-bottom: 20px;
    display:inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.inputsDiv > *{
    display: flex;
    flex-basis: 100%;
    margin: 4px;
}

.input_styling{
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: gray;
}
.button-styling{
    display: flex;
    background-color: #E66A50;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    height: 40px;
    width: 50%;
    margin: auto;
    border: #E66A50 1px solid;
    transition: background-color 0.3s;
    flex-basis: 70%;
}