
/* 
    Created on : 6 gru 2023, 17:22:09
    Author     : Jagoda Więcek
*/
body{
    background-color: #E66A50; 
    font-family: 'Arial', cursive;
}


.container {
    
    max-width: 500px;
    width: 60%;
    hight: 80%;
    margin: 125px auto;
    text-align: justify;
    background-color: white;
    padding: 80px;
    border-radius: 20px;
    
}
h1 {
    text-align: center;
}
.button-styling{
    background-color: #E66A50; 
    color: white; 
    font-size: 20px; 
    padding: 5px 20px; 
    border: none; 
    border-radius: 5px; 
    height: 40px;
    width: 300px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button-styling:hover{
    background-color: white;  
}
.register_button{
    background-color: white;
    color: gray;
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    font-family: 'Arial', cursive;
    height: 40px;
    width: 300px;
    position: relative;
    top: -22px;
}
.input_styling{
    width: 300px; /* Możesz dostosować szerokość */
    height: 40px; /* Możesz dostosować wysokość */
    padding: 10px; /* Dodaj wewnętrzne odstępy dla lepszego wyglądu */
    box-sizing: border-box; /* Zachowaj łączną szerokość, uwzględniając padding */
    border: 1px solid #ccc; /* Dodaj obramowanie dla efektu */
    border-radius: 5px; /* Zaokrąglenie narożników */
    color: gray;
}
h2{
    text-align: center;
    font-size: 40px;
    color: #1F1F1F;
}
